<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--    <link rel="icon" href="../../favicon.ico"/>-->
    <title>Create Bus</title>
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div class="container">
    <form action="#" th:action="@{/createBus}" th:object="${busAdHost}" method="post">
        <p>Model: <input type="text" th:field="*{model}"/></p>
        <p>Car Park: <input type="text" th:field="*{carPark}"/></p>
        <p><input type="submit" value="Submit"/></p>
    </form>
</div>
</body>
</html>


